.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-around;
}

.card{
    position: relative;
}
p {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0;
    color: white;
}