<nav>
    <% if (user) { %>
        <a href="/gamers">View all public accounts</a>
        <a href="/profile">View your profile</a>
        <a href="/profile/settings">Profile Settings</a>
        <a href="/auth/sign-out">Sign Out</a>
        <% } else { %>
            <a href="/auth/sign-up">Sign Up</a>
            <a href="/auth/sign-in">Sign In</a>
            <% } %>
</nav>