<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit account settings</title>
</head>

<body>
    <h1>Edit account settings!</h1>
    <form action="/profile/settings?_method=PUT" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="<%= user.username %>"/>
        <br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <br><br>

        <label for="accountState">Account State:</label>
        <select name="accountState" id="accountState">
            <option value="Public" <%= user.accountState === "Public" ? "selected" : ""%> >Public</option>
            <option value="Private" <%= user.accountState === "Private" ? "selected" : ""%> >Private</option>
        </select>
        <br><br>

        <button type="submit">Update account</button>
    </form>
</body>

</html>